# template to include a gui element
# for the annealing stage temperature controller 
# 
# % macro, name, Object and gui association name
# % macro, device, device prefix
# % gui, $(name), edm, eurotherm_3504.edl, device=$(device)
# % gui, $(name=), boydetail, eurothermModbusApp_opi/eurotherm_3504.opi, device=$(device)